body {
    background-color: #f8f9fa; /* светло-серый фон */
}

h1, h2, h3 {
    font-family: 'Segoe UI', sans-serif;
}

.card-header {
    font-weight: 600;
    font-size: 1.25rem;
}

.card {
    border-radius: 16px;
}

